<?php
/*
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0. If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

/**
* @author Ronny Bansemer
*/

   define('INCLUDE_PATH', '/www/uis/include');
   define('DATA_PATH', '/www/uis/data');
   define('INCLUDE_FUNCTION', INCLUDE_PATH.'/funktionen');
   define('INCLUDE_CONTENT', INCLUDE_PATH.'/inhalte');
   define('INCLUDE_PATH_WWW', '/www/uis/www/include');
   define('SITE', ''); //site url
   define('IP', '');
   define('REL_PATH', '/mosd');

   define('IMAGE_PATH', 'http://www.example.com/mosd/img/'); //path to images

   define('SITE_DEFAULT_TITLE', ''); //site title
   define('SITE_DEFAULT_CSS', 'style');
   define('SITE_DEFAULT_JS', 'funclib');

   define('MYSQL_HOST', '');
   define('MYSQL_USER', '');
   define('MYSQL_PASSWORD', '');
   define('MYSQL_DATABASE', '');

   define('HOSTNAME', 'example.com'); 
   define('HTTP_HOST', 'http://www.example.com/mosd');
   define('HTTPS_HOST', 'https://www.example.com/mosd');

   define('EMAIL_WEBMASTER', 'report@example.com');
   define('EMAIL_WEBMASTER_NAME', 'webmaster');

   define('EMAIL_AUTO_FROMADRESS', 'report@example.com');
   define('EMAIL_AUTO_FROMUSER', 'automailer');

   define('EMAIL_FROMADRESS', 'noreply@example.com');
   define('EMAIL_FROMUSER', '');
   define('EMAIL_RESPONDER', '');

?>
